@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

#loading{
    display: block;
}

#website{
    display: none;
}

#website {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: flex-end;
}

header .container ul {
    display: flex;
    list-style-type: none;
}

header .container ul li a {
    padding: 1.25rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

header .container ul li a:hover {
    opacity: 0.5;
}

.add-shadow{
    background-color: #cc0000;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}

#about {
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about h1 {
    color: #fff;
    font-size: 3rem;
}

#about h5 {
    color: #cc0000;
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
}

#projects {
    background-color: #ffcc99;
}

#projects h2 {
    max-width: 20rem;
    margin: 0rem auto 3rem auto;
    padding-top: 5.5rem;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 3px solid #000;
}

#projects #more{
    color: #000;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
}

#projects .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#projects .container .cards {
    width: 25%;
    margin: 3rem;
    display: inline-block;
}

#projects .container .cards img {
    height: calc(100% - 6.8rem);
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
}

#projects .container .link-image {
    width: 100%;
    background-color: #303841;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

#projects .container .link-image a {
    text-align: center;
}

#projects .container .link{
    padding: 1rem;
    background-color: #303841;
    text-align: center;
    font-size: 1.25rem;
    transition: .5s;
    border-radius: 0 0 10px 10px;
}

#projects .container .link a {
    padding: .5rem;
    color: #fff;
    text-decoration: none;
}

#projects .container a .figure {
    color: #303841;
    transition: .5s;
}

#projects .container .cards:hover a>.figure {
    color: #e9e581;
}

#projects .container .cards:hover img {
    scale: 1.1;
}

#contact {
    background-color: #303841;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact .header h2 {
    font-size: 4rem;
}

#contact .header p {
    font-style: italic;
}

#contact .social {
    margin-top: 3rem;
}

#contact .social a {
    color: #fff;
    padding: 0 1rem;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

#contact .social a:hover {
    transform: translateY(8px);
}

@media (max-width: 768px) {
    [data-aos="fade-right"],
    [data-aos="fade-left"] {
        transform: translateY(100px);
    }
}