header .container {
    justify-content: center;
}

#about h1 {
    font-size: 2rem;
}

#about h5 {
    font-size: 1.5rem;
}

#projects h2 {
    max-width: 640px;
    font-size: 1.75rem;
}

#projects .container .cards {
    width: 100%;
    margin: 1.5rem 0.25;
}

#projects .container .cards img {
    height: 170px;
}

#contact .header h2 {
    font-size: 2.5rem;
}

#contact .social{
    display: flex;
    flex-direction: column;
    text-align: start;
}

#contact .social a {
    padding: .25rem 0;
}